<html>
<head>
	<meta charset="utf-8">
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles3.css') }}">
	<title>Title</title>
</head>

<body>

<div id="content" class ="mw-body" role="main">
	<h1 id="firstHeading" class="firstHeading" lang="en">{{new_title}}</h1>
	<div id="bodyContent" class="mw-body-content">
		<div id="siteSub" class="noprint">
			From Wikipedia, the free encyclopedia
		</div>
		<div id="mw-content-text" class="mw-content-ltr">
			<div class="mw-parser-output">
				<div role="note" class="hatnote navigation-not-searchable">
					For other uses, see 
					<a href="#" title="#">
						{{new_title}} (disambiguation)
					</a>. 
				</div>
				<div class="thumb tright">
					<div class="thumbinner" style="width:252px;">
						<a href="#" class="image">
							<img alt="{{new_title}}" src="https://s-media-cache-ak0.pinimg.com/236x/8d/98/07/8d9807ac997eff9fefc0133f1d595c8a--tile-coasters-art-paintings.jpg" data-file-width="561" data-file-height="368">
						</a>
						<div class="thumbcaption">
							<div class="magnify">
								<a href="/wiki/File:Akashi-kaikyo_bridge3.jpg" class="internal" title="Enlarge"></a>
							</div>
							{{new_image_caption}}
						</div>
					</div>
				</div>
			</div>
			<p>
				A hoax is a deliberately fabricated <a href="#">falsehood</a> made to masquerade as the truth. It is distinguishable from errors in <a href="#">observation</a> or <a href="#">judgement</a>. 
			</p>
			<div id="toc" class="toc">
				<div class="toctitle">
					<h2>Contents</h2>
					<span class="toctoggle">&nbsp;[<a role="button" tabindex="0" class="togglelink">hide</a>]&nbsp;</span>
				</div>
				<ul>
					<li class="toclevel-1 tocsection-1"><a href="#"><span class="tocnumber">1</span> <span class="toctext">Background</span></a></li>
					<li class="toclevel-1 tocsection-2"><a href="#"><span class="tocnumber">2</span> <span class="toctext">Context</span></a></li>
					<li class="toclevel-1 tocsection-2"><a href="#"><span class="tocnumber">2</span> <span class="toctext">Modern discussion</span></a></li>
				</ul>
			</div>
			<h2>
				<span class="mw-headline" id="Etymology">
					Background
				</span>
				<span class="mw-editsection">
					<span class="mw-editsection-bracket">[
					</span>
					<a href="/w/index.php?title=Bridge&amp;action=edit&amp;section=1" title="Edit section: Etymology">
						edit
					</a>
					<span class="mw-editsection-bracket">]
					</span>
				</span>
			</h2>
			<p>
				{{new_information}}. A 
				<b>bridge</b>
				 is a 
				<a href="#">structure</a> 
				 built to 
				<a href="#">span</a>
				 physical obstacles without closing the way underneath such as a 
				<a href="#">body of water</a>
				 for the purpose of poviding passage over the obstacle.
			</p>

			<h2>
				<span class="mw-headline" id="Etymology">
					Context
				</span>
				<span class="mw-editsection">
					<span class="mw-editsection-bracket">[
					</span>
					<a href="/w/index.php?title=Bridge&amp;action=edit&amp;section=1" title="Edit section: Etymology">
						edit
					</a>
					<span class="mw-editsection-bracket">]
					</span>
				</span>
			</h2>
			<p>
				Rumors are also often discussed with regard to "misinformation" and "disinformation" (the former often seen as simply false and the latter seen as deliberately false, though usually from a government source given to the media or a foreign government).
			</p>

			<h2>
				<span class="mw-headline" id="Etymology">
					Modern interpretation
				</span>
				<span class="mw-editsection">
					<span class="mw-editsection-bracket">[
					</span>
					<a href="/w/index.php?title=Bridge&amp;action=edit&amp;section=1" title="Edit section: Etymology">
						edit
					</a>
					<span class="mw-editsection-bracket">]
					</span>
				</span>
			</h2>
			<p>
				Propaganda is information that is not objective and is used primarily to influence an audience and further an agenda, often by presenting facts selectively to encourage a particular synthesis or perception, or using loaded language to produce an emotional rather than a rational response to the information that is presented.
			</p>

		</div>
	</div>
	<div id="mw-navigation">
		<h2>Navigation menu</h2>
		<div id="mw-panel">
			<div id="p-logo" role="banner">
				<a class="mw-wiki-logo" href="#" title="Visit the main page"></a>
			</div>
			
			<div class="portal" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
				<h3 id="p-navigation-label">Navigation</h3>
				<div class="body">
					<ul>
						<li id="n-mainpage-description"><a href="#a" title="#">Main page</a></li>
						<li id="n-mainpage-description"><a href="#b" title="#">Contents</a></li>
						<li id="n-mainpage-description"><a href="#c" title="#">Featured content</a></li>
						<li id="n-mainpage-description"><a href="#d" title="#">Current events</a></li>
						<li id="n-mainpage-description"><a href="#e" title="#">Random article</a></li>
						<li id="n-mainpage-description"><a href="#f" title="#">Donate to Wikipedia</a></li>
						<li id="n-mainpage-description"><a href="#g" title="#">Wikipedia store</a></li>
					</ul>
				</div>
			</div>

			<div class="portal" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
				<h3 id="p-navigation-label">Interaction</h3>
				<div class="body">
					<ul>
						<li id="n-mainpage-description"><a href="#a" title="#">Help</a></li>
						<li id="n-mainpage-description"><a href="#b" title="#">About Wikipedia</a></li>
						<li id="n-mainpage-description"><a href="#c" title="#">Community portal</a></li>
						<li id="n-mainpage-description"><a href="#d" title="#">Recent changes</a></li>
						<li id="n-mainpage-description"><a href="#e" title="#">Contact page</a></li>
					</ul>
				</div>
			</div>

			<div class="portal" role="navigation" id="p-navigation" aria-labelledby="p-navigation-label">
				<h3 id="p-navigation-label">Tools</h3>
				<div class="body">
					<ul>
						<li id="n-mainpage-description"><a href="#a" title="#">What links here</a></li>
						<li id="n-mainpage-description"><a href="#b" title="#">Related changes</a></li>
						<li id="n-mainpage-description"><a href="#c" title="#">Upload file</a></li>
						<li id="n-mainpage-description"><a href="#d" title="#">Special pages</a></li>
						<li id="n-mainpage-description"><a href="#e" title="#">Permanent link</a></li>
						<li id="n-mainpage-description"><a href="#f" title="#">Page information</a></li>
						<li id="n-mainpage-description"><a href="#g" title="#">Wikidata item</a></li>
						<li id="n-mainpage-description"><a href="#g" title="#">Cite this page</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</div>
</body>
</html>
